<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

    <div class="container mt-5 px-5">
        <h2 class="text-center">URL Shortener</h2>
        <%if (locals.id) {%>
            <p>Generated URL : http://localhost:8001/url/<%= id  %></p>
        <%}%>
        <form action="/url" method="post">
            <div class="form-group">
                <label for="URL">Enter your URL</label>
                <input type="url" class="form-control border border-dark" name="url">
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mb-3">Generate</button>
            </div>
        </form>
        <%if (locals.urls) {%>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sno.</th>
                        <th scope="col">Short ID</th>
                        <th scope="col">RedirectURL</th>
                        <th scope="col">Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% urls.forEach((url,index) => { %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= url.shortId %></td>
                        <td><%= url.redirectURL %></td>
                        <td><%= url.visitHistory.length %></td>
                    </tr>
                    <% }) %>
                    
                </tbody>
            </table>
        <%}%>
    </div>
</body>

</html>